.page-wrapper
  .container

    .col-md-8.mx-auto.conversation-index

      - page_header "Rozpocznij konwersację" 

      = form_tag messages_path, method: :post do 
        .form-group
          = label_tag 'message[subject]', 'Temat' 
          = text_field_tag 'message[subject]', nil, class: 'form-control', required: true 


        .form-group
          = label_tag 'message[body]', 'Wiadomość' 
          = text_area_tag 'message[body]', nil, cols: 3, class: 'form-control', required: true 


        .form-group
          = label_tag 'recipients', 'Wybierz odbiorców' 
          = select_tag 'recipients', recipients_options(@chosen_recipient), multiple: true, class: 'form-control chosen-it'

        = submit_tag 'Wyślij', class: 'btn btn-do-vitruvian'