

<div class="login-page-header">

  <div class="login-page-bg">
</div>

<div class="login-page-wrapper">

<div class="login-page-content">

<div class="page-header">
<% provide(:title, "Logowanie") %>
<h1>Logowanie</h1>
</div>

<div class="container form-container">
<div class="row justify-content-md-center">
  <div class="form-group col-md-6">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, "Hasło" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
      <%= f.check_box :remember_me %>
      <span>Zapamiętaj mnie.</span>
      <% end %>

      <%= f.submit "Zaloguj", class: "btn btn-do" %>
    <% end %>

    <p>Nie masz konta? <%= link_to "Zarejestruj się!", rejestracja_path %></p>
  </div>
</div>
</div>

</div>

</div>


</div>
