<div class="page-wrapper">

<div class="page-header">
<% provide(:title, "Logowanie") %>
<h1>Logowanie</h1>
</div>

<div class="container form-container">
<div class="row justify-content-md-center">
  <div class="form-group col-md-6">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
      <%= f.check_box :remember_me %>
      <span>Remember me on this computer</span>
      <% end %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", rejestracja_path %></p>
  </div>
</div>
</div>


<!-- page wrapper end -->
</div>
