

= provide(:title, 'Edytuj profil')
= provide(:button_text, 'Zapisz zmiany')


.page-wrapper
  .user-edit-page
    .page-header
      %h1
        Edytuj profil

    .container.form-container
      .row.justify-content-md-center
        .form-group.col-md-6
          = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
            = devise_error_messages!



            .form-group.p-2
              .col-sm-12.text-center
                = image_tag user_avatar(resource, 120), class: 'rounded-circle user-avatar'


            .form-group.vitruvian-input
              = f.label :avatar, 'Avatar'
              = f.file_field :avatar, class: 'form-control file-upload-input'

            .mt-5
              = f.label :name, "Nazwa konta"
              .form-group.vitruvian-input
                = f.text_field :name, autofocus: true, autocomplete: "name", class: 'form-control'
                %i.fas.fa-user-tag

            .mt-5
              = f.label :email
              .form-group.vitruvian-input
                = f.email_field :email, autocomplete: "email", class: 'form-control'
                %i.fas.fa-at


              - if devise_mapping.confirmable? && resource.pending_reconfirmation?
                %div
                  Aktualnie oczekuje na potwierdzenie e-mail:
                  = resource.unconfirmed_email


            .mt-5
              = f.label :password, 'Hasło'
              .form-group.vitruvian-input
                = f.password_field :password, autocomplete: "new-password", class: 'form-control', placeholder: '(Pozostaw puste jeśli nie chcesz zmieniać)'
                %i.fas.fa-lock
            .mt-5
              = f.label :password_confirmation, 'Potwierdź hasło'
              .form-group.vitruvian-input
                = f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', placeholder: '(Pozostaw puste, jeśli nie chcesz zmieniać)'
                %i.fas.fa-lock

            .form-group.pt-5.pb-5
              .col-sm-12.text-center
                %h5 Powiadomienia E-mail
                = fields_for current_user.settings(:notification) do |settings_fields|
                  = settings_fields.check_box :news
                  = settings_fields.label :news, 'Chcę otrzymywać powiadomienia o nowych aktualnościach'



            .mt-2
              = f.label :current_password, 'Aktualne hasło (Zatwierdź zmiany)'
              .form-group.vitruvian-input
                = f.password_field :current_password, autocomplete: "current-password", class: 'form-control'
                %i.fas.fa-lock

            .actions.mt-5.text-center
              = f.submit "Zaktualizuj", class: 'btn btn-do-main'

          .account-remove.p-2.mt-5.text-center

            %h3.text-center Usuń moje konto

            %p
              Ta akcja jest nieodwracalna, konto po usunięciu jest niemożliwe do odzyskania, jak również aplikacja do sojuszu oraz (w przypadku lidera) ogłoszenie klanu.
              = button_to "USUŃ KONTO", registration_path(resource_name), data: { 'confirm-swal': "Jesteś pewny?" }, method: :delete, class: "btn btn-do-main"

