

= provide(:title, 'Edytuj profil')
= provide(:button_text, 'Zapisz zmiany')


.page-wrapper
  .user-edit-page
    .page-header
      %h1
        Edytuj profil


    .container.form-container
      .row.justify-content-md-center
        .form-group.col-md-6

          = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
            = devise_error_messages!


            .form-group.p-2
              .col-sm-12.text-center
                = image_tag user_avatar(resource, 120), class: 'rounded-circle user-avatar'


              .form-group
                = f.label :avatar, 'Avatar'
                = f.file_field :avatar, direct_upload: true, class: 'form-control'


            .form-group.p-2
              = f.label :name, "Nazwa konta"
              = f.text_field :name, autofocus: true, autocomplete: "name", class: 'form-control'

            .form-group.p-2
              = f.label :email
              = f.email_field :email, autocomplete: "email", class: 'form-control'


              - if devise_mapping.confirmable? && resource.pending_reconfirmation?
                %div
                  Currently waiting confirmation for:
                  = resource.unconfirmed_email


            .form-group.p-2
              = f.label :password, 'Hasło'
              - if @minimum_password_length

                %em
                  (Minimum
                  = @minimum_password_length
                  znaków.)

              = f.password_field :password, autocomplete: "new-password", class: 'form-control', placeholder: '(Pozostaw puste jeśli nie chcesz zmieniać)'



            .form-group.p-2
              = f.label :password_confirmation, 'Potwierdź hasło'
              = f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', placeholder: '(Pozostaw puste, jeśli nie chcesz zmieniać)'

            .form-group.p-2
              = f.label :current_password, 'Aktualne hasło'
              %i (Zatwierdź zmiany aktualnym hasłem)

              = f.password_field :current_password, autocomplete: "current-password", class: 'form-control'


            .actions.mt-5.text-center
              = f.submit "Zaktualizuj", class: 'btn btn-do-vitruvian'

          .account-remove.p-2.mt-5.text-center

            %h3.text-center Usuń moje konto

            %p
              Ta akcja jest nieodwracalna, konto po usunięciu jest niemożliwe do odzyskania, jak również aplikacja do sojuszu oraz (w przypadku lidera) ogłoszenie klanu.
              = button_to "USUŃ KONTO", registration_path(resource_name), data: { confirm: "Jesteś pewny?" }, method: :delete, class: "btn btn-do-vitruvian"

