= provide(:button_text, 'Zarejestruj')
= provide(:title, 'Rejestracja')



.login-page-wrapper
  .login-page
    .row
      .login-page-cover
        .login-page-content
          .container.form-container
            .user-actions
              = active_link_to "Logowanie",new_user_session_path, class: "btn btn-do-ghostie-dark"
              = active_link_to "Rejestracja",new_user_registration_path, class: "btn btn-do-ghostie-dark"
            .img
              =image_tag(asset_pack_path('media/images/veil-white.png'))
            .row.justify-content-md-center
              .form-group.col-md-6

                = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
                  = devise_error_messages!

                  .input-group.vitruvian-input
                    = f.text_field :name, autofocus: true, class: 'form-control', placeholder: 'Nazwa konta'
                    %i.fas.fa-user-tag

                  .input-group.vitruvian-input
                    = f.email_field :email, autocomplete: "email", class: 'form-control', placeholder: 'E-mail'
                    %i.fas.fa-at

                  .input-group.vitruvian-input
                    = f.password_field :password, autocomplete: "new-password", class: 'form-control', placeholder: "Hasło (minimum 6 znaków)"
                    %i.fas.fa-lock

                  .input-group.vitruvian-input
                    = f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', placeholder: 'Potwierdź hasło'
                    %i.fas.fa-lock


                  .actions
                    = f.submit "Zarejestruj", class: 'btn btn-do-ghostie-dark'

                = render "devise/shared/links"
