.comment
  .list-group
    .list-group-item.list-group-item-action.flex-column.align-items-start.w-100{id:"comment-#{comment.id}"}
      .media
        =image_tag user_avatar(comment.user, 40), class: 'rounded-circle user_comment_image'
        .media-body
          .row
            .col-auto.mr-auto
              %h5.mb-1=link_to(comment.user.name, comment.user)
            .col-auto
              %small=l comment.created_at, format: :long
              - pre_like = comment.likes.find { |like| like.user_id == current_user.id}
              - if pre_like
                %span#link_to_action_delete
                  = link_to comment_like_path(comment, pre_like), method: :delete, remote: true do
                    %i.far.fa-heart.justify-self-end.ml-3
                    %span#likes_count_dislike= comment.likes.count
              - else
                %span#link_to_action_create
                  = link_to comment_likes_path(comment), method: :post, remote: true do
                    %i.far.fa-heart.justify-self-end.ml-3
                    %span#likes_count_like= comment.likes.count

          %p.mb-1= simple_format comment.content

          .nested-comment
            = nested_comments comment.children
          .answer{id:"comment-answer-#{comment.id}"}
          -if user_signed_in?
            .actions
              %small


              %small
                =link_to "Odpowiedz", new_news_comment_path(@commentable, comment, parent_id: comment.id, js: true), remote: true
              - if can?(:destroy, comment)
                %small
                  |
                  = link_to 'Usuń komentarz', news_comment_path(@news, comment), method: :delete, data: { 'confirm-swal': 'Jesteś pewny?'}

