.comment
  .list-group
    .list-group-item.list-group-item-action.flex-column.align-items-start.w-100{id:"comment-#{comment.id}"}
      .media
        =image_tag user_avatar(comment.user, 40), class: 'rounded-circle user_comment_image'
        .media-body
          .row
            .col-auto.mr-auto
              %h5.mb-1=link_to(comment.user.name, comment.user)
            .col-auto
              %small=l comment.created_at, format: :long
              %span{id:"comment_#{comment.id}_likes"}
                =render 'likes/like', comment: comment

          %p.mb-1= simple_format comment.content

          .nested-comment
            = nested_comments comment.children
          .answer{id:"comment-answer-#{comment.id}"}
          -if user_signed_in?
            .actions
              %small


              %small
                =link_to "Odpowiedz", new_news_comment_path(@commentable, comment, parent_id: comment.id, js: true), remote: true
              - if can?(:destroy, comment)
                %small
                  |
                  = link_to 'Usuń komentarz', news_comment_path(@news, comment), method: :delete, data: { 'confirm-swal': 'Jesteś pewny?'}

