%li.list-group-item.partial-user-conversation

  %span.conversation-subject
    = link_to conversation.subject, conversation_path(conversation), class:'link-vitruvian'

  .btn-group-vertical.pull-right
    - if conversation.is_trashed?(current_user) 
      = link_to 'Przywróć', restore_conversation_path(conversation), class: 'btn btn-do-vitru', method: :post
      
    - else 
      = link_to 'Przenieś do kosza', conversation_path(conversation), class: 'btn btn-do-vitru', method: :delete, data: {confirm: 'Jesteś pewny?'}

    - if conversation.is_unread?(current_user) 
      = link_to 'Oznacz jako przeczytane', mark_as_read_conversation_path(conversation), class: 'btn btn-do-vitru', method: :post

  %p
    = render 'conversations/participants', conversation: conversation 

  .conversation-body
    %p
      = conversation.last_message.body
      %small
        %br
        (
        %span.text-muted
          = l conversation.last_message.created_at, format: :long
        )

