.page-wrapper

  .container



    - page_header "Conversation" 

    %p 
      Rozmowa z
      = render 'conversations/participants', conversation: @conversation 

    .panel.panel-default
      .panel-heading
        = @conversation.subject 
    
      .panel-body
        #messages.messages
          - @conversation.receipts_for(current_user).order(:created_at).each do |receipt|
            - message = receipt.message 
            - if current_user == message.sender 
              .media.message-sender.col
                
                .media-left
                  .user-image
                    =image_tag user_avatar(message.sender, 45), class: 'rounded-circle conversation-user-image'
                    = link_to message.sender.name, message.sender, class: 'link-vitruvian'

                .media-body
                  .media-heading
                    %span.media-user-heading=l message.created_at, format: :long
                  %p
                    = message.body


            - else 
              .media.message-receiver.col 
                .media-left
                  .user-image
                    =image_tag user_avatar(message.sender, 45), class: 'rounded-circle conversation-user-image'
                    = link_to message.sender.name, message.sender, class: 'link-vitruvian'

                .media-body
                  .media-heading
                    %span.media-user-heading= l message.created_at, format: :long
                  %p
                    = message.body
 

      = form_tag reply_conversation_path(@conversation), method: :post do 
        .form-group.conversation-submit-body
          = text_area_tag 'body', nil, cols: 3, class: 'form-control form-control_dark', placeholder: 'Napisz coś...', required: true 
          = submit_tag "Wyślij wiadomość", class: 'btn btn-do-vitruvian'
 
