
<div class="page-wrapper">

<div class="container">
  


<% page_header "Conversation" %>

<p>Rozmowa z
  <%= render 'conversations/participants', conversation: @conversation %>
</p>

<div class="panel panel-default">
  <div class="panel-heading"><%= @conversation.subject %></div>

  <div class="panel-body">
    <div id="messages" class="messages">
   
      <% @conversation.receipts_for(current_user).each do |receipt| %>
      

          <% message = receipt.message %>


            <% if current_user == message.sender %>
        <div class="media message-sender col" >
   <% else %>
<div class="media message-receiver col " >
    <% end %>
    
          <div class="media-left">
            <%= gravatar_for message.sender, 45, message.sender.name %>
          </div>

          <div class="media-body">
            <h6 class="media-heading"> 
           <span class="media-user-heading"><%= link_to message.sender.name, message.sender %></span> |
               <%= message.created_at.strftime("%-d %B %Y, %H:%M:%S") %></h6>
            <%= message.body %>
          </div>
        </div>



      <% end %>



   
    </div>
  </div>
</div>

<%= form_tag reply_conversation_path(@conversation), method: :post do %>
  <div class="form-group conversation-submit-body">
    <%= text_area_tag 'body', nil, cols: 3, class: 'form-control form-control_dark', placeholder: 'Napisz coś...', required: true %>
  </div>
  <%= submit_tag "Wyślij wiadomość", class: 'btn btn-primary' %>
<% end %>

</div>
</div>