= provide(:title, 'Użytkownicy')

.index-page-wrapper.parallax-users
  .content-wrapper
    .index-content
      .row
        .col-md-6
          .users-container
            .justify-content-md-center
              %ul.users
                %h1 Administracja
                = render @admins



        .col-md-6
          .users-container
            .justify-content-md-center
              %ul.users
                %h1 Liderzy klanów
                = render @liderzy

              = will_paginate(@liderzy, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'pagination justify-content-center', :previous_label => 'Poprzednia', :next_label => 'Następna')

      -if @moderators.any?
        .row
          .col-md-12
            .users-container
              .justify-content-md-center

                %ul.users
                  %h1 Moderatorzy
                  = render @moderators

      .row
        .col-md-12
          .users-container
            .justify-content-md-center

              %ul.users
                %h1 Użytkownicy
                = render @users

              = will_paginate(@users, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'pagination justify-content-center', :previous_label => 'Poprzednia', :next_label => 'Następna')

