- provide(:title, @user.name)


.user-page-wrapper


  .profile-container
    .container
      .row
        .col-md-8.mx-auto.text-center.col-show-box
          %section.show-profile-box
            .user_image
              =image_tag user_avatar(@user, 120), class: 'rounded-circle user-image'

            %h1= @user.name

            .ranks
              %p=user_ranks(@user)

            .user_details
              %p Zarejestrowany od: #{@user.created_at}
              %p Ostatnio widziany: #{@user.last_seen}

              =@user.active_at

            .message-user
              =@user.message_user

          =form_for @user, :url => url_for(:controller => 'users', :action => 'update_role') do |f|
            - Role.all.each do |role|
              = check_box_tag "user[input_roles][]", role.name, @user.roles.include?(role)
              = role.name
            .input-group.text-center.justify-content-center.p-4
              = f.submit "Aktualizuj role", class:'btn btn-do-vitru'





          .profil-show-img
            =image_tag(asset_pack_path('media/images/jedno-gold.png'))
          -#
          -#%h2 Komentarze
          -#
          -#-@news_comments.each do |c|
          -#  =c.content
          -#
