

.login-page-header

  .login-page-bg
  .login-page-wrapper
    .login-page-content
      .page-header
        - provide(:title, "Zmień hasło")
        %h2 Zmień hasło

      .container.form-container
        .row.justify-content-md-center
          .form-group.col-md-6

            = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
              = devise_error_messages!
              = f.hidden_field :reset_password_token

              .input-group
                = f.label :password, "Nowe hasło"
                - if @minimum_password_length
                  %em (Minimum #{@minimum_password_length} znaków)

                = f.password_field :password, autofocus: true, autocomplete: "new-password", class:'form-control'

              .input-group
                = f.label :password_confirmation, "Potwierdź nowe hasło"
                = f.password_field :password_confirmation, autocomplete: "off", class:'form-control'

              .actions
                = f.submit "Zmień hasło", class:'btn btn-do-ghostie'

            = render "devise/shared/links"
