
.clan_form

  = form_for(@clan) do  |f|

    .row.clan_form-header
      .col-md-10.d-flex.align-items-center
        %h2
          = yield(:header_text)  
          ogłoszenie klanu

      .col-md-2.d-flex.align-items-center
        = f.submit "Zapisz", class: "btn btn-do-vitru"

    .row.form-errors
      .col-md-12
        = render 'shared/error_messages', object: f.object
  

    .row.clan_form-about
      .col-md-8.mx-auto
        .form_header-tag
          %h2
            =image_tag(asset_pack_path('media/all-gold.png'))
            Informacje
            =image_tag(asset_pack_path('media/all-gold.png'))
 
        .form-group
          = f.label :name, "Nazwa klanu"
          = f.text_field :name, class: 'form-control'
        .form-group
          = f.label :leader, "Nick założyciela klanu"
          = f.text_field :leader, class: 'form-control'
        .form-group
          = f.label :tier, "Tier klanu"
          = f.select(:tier, Clan::CLANTIER, {selected: @clan.tier, prompt: 'Wybierz tier'}, { :class => 'form-control' })
        .form-group
          = f.label :members, "Aktualna liczba członków klanu"
          = f.text_field :members, :class => 'form-control'

        .form-check.text-center.box_4
          =f.label :recruitment_status, "Status rektrutacji"
          %p Czy klan prowadzi aktualnie rekrutację nowych członków?
          .input_wrapper
            =f.check_box :recruitment_status, id: 'recruitment-check', class:"switch_4"
          %p{id: 'recruitment-check-status'}



        .form_header-tag 
          %h2
            =image_tag(asset_pack_path('media/all-gold.png'))
            Logo
            =image_tag(asset_pack_path('media/all-gold.png'))
        .form-group
          .clan_logo
            - if @clan.picture.attached?
              =image_tag @clan.picture.attachment, id:'old-logo'
            %img{id:"output"}
          .form-input
            = f.label :picture, "Logo klanu"

          .file-upload
            = f.file_field :picture, type: 'file', class:'form-control-upload'



        .form_header-tag
          %h2
            =image_tag(asset_pack_path('media/all-gold.png'))
            Kontakt
            =image_tag(asset_pack_path('media/all-gold.png'))

 
        = f.label :website, "Strona internetowa klanu"  
        = f.text_field :website, placeholder: "https://przykladowa-strona.pl (Zostaw puste jeśli nie posiada)", :class => 'form-control'  

        = f.label :discord, "Discord klanu"  
        = f.text_field :discord, placeholder: "https://discord.gg/uJEJAes  (Zostaw puste jeśli nie posiada)", :class => 'form-control'  

    .row.clan_form-about
      .col-md-12
        .form_header-tag
          %h2
            =image_tag(asset_pack_path('media/all-gold.png'))
            Opis
            =image_tag(asset_pack_path('media/all-gold.png'))


        = f.text_area :about, id:"summernote", name:"editordata", placeholder: "Napisz coś o klanie. (Historia klanu, motywy do powstania klanu, motto klanowe, cele do osiągniecia.)"

