.clan_content-wrapper
  .container
    .clan-body

      .clan_show_head

        =image_tag(asset_pack_path('media/images/jedno-ghostie.svg'))
        %h2= clan.name 


      .row.clan_show-header
        .col-md-6
          .clan-logo-container
            = image_tag clan.picture, class: 'clan-logo' if clan.picture.attached?
        .col-md-6
          .clan-leader
            %h1 Nick założyciela klanu:
            %p= clan.leader 


          .clan-tier
            %h1 Tier klanu:
            %p= clan.tier

          .clan-members
            %h1 Aktualna liczba członków klanu:
            %p= clan.members

    .row.clan_show-contact
      .recruitment-status.text-center.w-100
        =clan.recruitment_status
      .col-md-12.clan_show-contact-buttons

        =clan.discord_link
        =clan.website_link
        =clan.lider_msg_link

    .row.clan_show-about
      .col-md-12
        .clan-body-about
          = raw clan.about

  %span.timestamp.w-100.d-flex.justify-content-between
    %p Stworzone #{time_ago_in_words(clan.created_at)} temu.
    %p Ostatnia aktualizacja #{time_ago_in_words(clan.updated_at)} temu.

  .clan_actions.p-2.text-center.mt-4
    =clan.actions
    =clan.approval

