.col-lg-4.clan-col
  .clan-content
    .clan-content-image
      = image_tag clan.picture if clan.picture.attached?

    .clan-content-text
      %h1
        %span= clan.name

      %h2
        Nick lidera:
        %span= clan.leader

      %h2
        Tier klanu:
        %span= clan.tier

      %h2
        Liczba klanowiczy:
        %span= clan.members

      =clan.recruitment_status

    .clan-content-buttons
      %p=clan.actions
