- provide(:title, 'Klan - Panel')

.clan_show_content
    .container
        - if current_user.has_role? :lider

            - if @user.clan

                .clan_show_content-wrapper

                    %h1 Stworzyłeś ogłoszenie swojego klanu!
                    %h2 Ogłoszenie pojawi się na liście klanów, gdy zostanie zaakceptowane przez administrację sojuszu.
                    .request-button
                        %span= link_to "Lista klanów", clans_path, class: "btn btn-do-bordered"


                .request
                    = render @clan


            - else

                .clan_show_content-wrapper

                    %h1 Twoje podanie do sojuszu zostało przyjęte!
                    %h1 Nie stworzyłeś jeszcze ogłoszenia klanu!
                    %h2 Stwórz ogłoszenie
                    .request-button
                        %span= link_to "Stwórz ogłoszenie klanu", new_clan_path, class: "btn btn-do-bordered", data: { turbolinks: false }


        - else

            - if @user.request

                .clan_show_content-wrapper
                    %h1 Wygląda na to, że nie jesteś liderem! Twoje podanie do sojuszu nie zostało jeszcze rozpatrzone, lub zostało odrzucone.
                    %h2 Zobacz swoje zgłoszenie do sojuszu.
                    .request-button
                        %span= link_to "Sprawdź podanie do sojuszu", '/request', class: "btn btn-do-bordered"
                    </div>


            - else

                .clan_show_content-wrapper

                    %h1 Nie złożyłeś jeszcze podania do sojuszu! Jeśli jesteś liderem klanu i chcesz do nas dołączyć, złóż podanie do sojuszu.
                    %h2 Przejdź do zakładki sojusz.
                    .request-button
                        %span= link_to "Podanie do sojuszu", '/request', class: "btn btn-do-bordered"


                .clan_show_content-wrapper

                    %h1 Nie masz klanu? Zajrzyj na listę klanów w naszym sojuszu!
                    %h2 Znajdź klan dla siebie!
                    .request-button
                        %span= link_to "Lista klanów w sojuszu", clans_path, class: "btn btn-do-bordered"
