= form_for @news do |f|
  - if @news.errors.any?
    #error_explanation
      %h2= "#{pluralize(@news.errors.count, "error")} prohibited this news from being saved:"
      %ul
        - @news.errors.full_messages.each do |message|
          %li= message


  .field
    = f.label :title, 'Tytuł'
    = f.text_field :title, class:'form-control'
  .field
    = f.label :content, "Nowy news"
    = f.text_area :content, id: "wysi", class: 'form-control', placeholder: "News"
  .field
    = f.label :thumbnail, 'Tytułowy obraz'
    = f.file_field :thumbnail, direct_upload: true, class:'form-control'
  .actions
    = f.submit 'Zapisz', class: 'btn btn-do'







:javascript
  $('#wysi').froalaEditor({
    inlineMode: false,
    heightMin: '200px',
    placeholderText: 'Napisz coś o klanie.'
  });
