- provide(:title, 'Aktualności')


.news-wrapper
  .container

    =image_tag(asset_pack_path('media/warframe-gold.png'), class: 'news-header-image')
    .actions.text-center.mb-5
      =active_link_to 'Wszystkie', news_index_path, class:'btn btn-do-vitru'
      -if NewsCategory.any?
        -NewsCategory.all.each do |category|
          =link_to category.name, category, class:'btn btn-do-vitru'

    -if current_user && can?(:manage, News)
      .actions.text-center
        = link_to 'Stwórz aktualność', new_news_path, class: 'btn btn-do-vitru'





    .row
      .col-md-8
        = will_paginate(@news, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'pagination justify-content-center news-index-pagination', :previous_label => 'Poprzednia', :next_label => 'Następna')

        .card-deck
          - @news.each do |news|
            .col-xl-6.mt-5
              .card
                - if news.thumbnail.attached?
                  = image_tag url_for(news.thumbnail), class: 'card-img-top'
                .card-body
                  %h5.card-title= link_to news.title, news
                  %p.card-text=truncate(sanitize(news.content, tags: []), length: 200)

                .card-footer
                  %small.text-muted
                    Dodano
                    = time_ago_in_words(news.created_at)
                    temu
                  %small.author.pull-right.text-muted
                    Autor:
                    =link_to news.user.name, news.user, class:'link-vitruvian'
                  %small.news-category.text-muted
                    Kategoria:
                    =link_to NewsCategory.find(news.news_category_id).name, news_category_path(news.news_category_id), class:'link-vitruvian'
                  %small.author.pull-right.text-muted
                    %i.fas.fa-comments
                    =news.comments.count

                .card-body
                  .btn-group.w-100
                    = link_to 'Zobacz', news, class: 'card-link btn btn-vitru-t'
                    -if current_user && can?(:manage, news)
                      = link_to 'Edytuj', edit_news_path(news), class: 'card-link btn btn-vitru-t'
                      = link_to 'Usuń', news, method: :delete, data: { 'confirm-swal': 'Jesteś pewny?' }, class: 'card-link btn btn-vitru-t'

        = will_paginate(@news, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'pagination justify-content-center news-index-pagination mt-5', :previous_label => 'Poprzednia', :next_label => 'Następna')



      .col-md-4
        %h2.text-center


        %a.twitter-timeline{'data-lang':"pl", 'data-theme':"light", href:"https://twitter.com/Dusze_Orokinu?ref_src=twsrc%5Etfw"} Twitter Dusze Orokinu

%script{src:"https://platform.twitter.com/widgets.js", charset:"utf-8"}

