- provide(:title, 'Aktualności')


.news-wrapper
  .container
    .page-header
      %h2 Aktualności
    .row

      .col-md-8

        .card-deck
          - @news.each do |news|
            .col-xl-6.mt-5
              .card
                - if news.thumbnail.attached?
                  = image_tag url_for(news.thumbnail), class: 'card-img-top'
                .card-body
                  %h5.card-title= link_to news.title, news
                  %p.card-text=truncate(sanitize(news.content, tags: []), length: 200)

                .card-footer
                  %small.text-muted
                    Dodano
                    = time_ago_in_words(news.created_at)
                    temu
                  %small.author.pull-right.text-muted
                    Autor:
                    =link_to news.user.name, news.user, class:'link-vitruvian'
                  %small.author.pull-right.text-muted
                    %i.fas.fa-comments
                    =news.comments.count

                .card-body
                  .btn-group.w-100
                    = link_to 'Zobacz', news, class: 'card-link btn btn-vitru-t'
                    -if current_user && can?(:manage, @news)
                      = link_to 'Edytuj', edit_news_path(news), class: 'card-link btn btn-vitru-t'
                      = link_to 'Usuń', news, method: :delete, data: { confirm: 'Jesteś pewny?' }, class: 'card-link btn btn-vitru-t'



          -if current_user && can?(:manage, @news)
            .actions
              = link_to 'New News', new_news_path, class: 'btn btn-do-vitru'

      .col-md-4
        %h2.text-center


        %a.twitter-timeline{'data-lang':"pl", 'data-theme':"light", href:"https://twitter.com/Dusze_Orokinu?ref_src=twsrc%5Etfw"} Twitter Dusze Orokinu

%script{src:"https://platform.twitter.com/widgets.js", charset:"utf-8"}

