
- provide(:title, "#{@news.title}")



.page-wrapper.news-background{style: "background-image: url(#{url_for(@news.thumbnail_blob)})"}
  .page-header.news-show-header
    .row
      .news
        .news-box
          =render 'news_show_info'

  .scroll-downs
    .mousey
      .scroller





.page-news-content
  .news-content
    = raw @news.content.html_safe

.page-news-other
  .news-other-container
    .row
      .col-md-12.text-center
        %h3 Aktualności w tej kategorii
    #similar_news-content
      = render 'similar_news'



.news-comments
  .news-comments-box
    .news-comments-header
      %h2 Komentarze

    .news-comments-body
      -if !nested_comments(@comments).blank?
        = nested_comments(@comments)
      -else
        Nikt jeszcze nie skomentował! Bądź pierwszy.

    .news-comments-form
      -if user_signed_in?
        = render "comments/form"
      -else
        %h2 Tylko zalogowani użytkownicy mogą komentować.



