.box{:id => "request-#{request.id}"}
  .clan_content-wrapper
    .container
      .request-body
        %table.table
          %thead
            %td Nick składającego podanie:
            %td Nick założyciela klanu:
            %td Nazwa klanu:
            %td Tier klanu:
            %td Liczba członków klanu:

          %tbody
            %td= request.nickname
            %td= request.lider_nickname
            %td= request.clan_name
            %td= request.clan_tier
            %td= request.clan_members

      .request-body-about
        %h1 Opis klanu:
        .fr-view
          = raw request.clan_about

      %span.timestamp.w-100.justify-content-between.d-flex
        Podanie stworzone: #{request.created_at.strftime('%F %T')}
        (#{time_ago_in_words(request.created_at)} temu)

        %span
          Przez użytkownika:
          = link_to request.user.name, request.user

    .request-actions
      =request.actions