
- provide(:title, 'Lista podań') 

.request-index

  .container

    -# if there are any approved alliance requests 
    - if @requestsapproved.any?

      -# show accepted requests
      .clan-approval-pending
        .rowc
          .col-md-4.mx-auto.text-center
            %h2 Podania zaakceptowane.



      .row
        -# take all approved alliance requests and iterate over each
        - @requestsapproved.each do |request|

          .col-md-4.request-col

            %h1= link_to request.user.name, request.user

            %h2 
              Nick gracza:
              %span= request.nickname

            %h2 
              Nick lidera:
              %span= request.lider_nickname

            %h2
              Nazwa klanu:
              %span= request.clan_name

            %p
              = link_to truncate('Zobacz'), request, class: "btn btn-do-bordered-small"
              - if can? :destroy, @request
                |
                = link_to "Usuń", request, method: :delete, data: { confirm: "Jesteś pewny, że chcesz to usunąć?" }, class: "btn btn-do-bordered-small"


      -# if theres no accepted alliance requests
    - else 
      .row
        .col-md-8.mx-auto.text-center
          %h4 Nie ma żadnych podań przyjętych do sojuszu!


    -# if there are any pending alliance requests
    - if @requestspending.any?

      .clan-approval-pending
        .row
          .col-md-4.mx-auto.text-center
            %h2 Podania oczekujące.

      .row

        - @requestspending.each do |request|
          .col-md-4.request-col

            %h1= link_to request.user.name, request.user

            %h2 
              Nick gracza:
              %span= request.nickname

            %h2 
              Nick lidera:
              %span= request.lider_nickname

            %h2 
              Nazwa klanu:
              %span= request.clan_name

            %p 
              = link_to truncate('Zobacz'), request, class: "btn btn-do-bordered-small"
              - if can? :destroy, @request
                |
                = link_to "Usuń", request, method: :delete, data: { confirm: "Jesteś pewny, że chcesz to usunąć?" }, class: "btn btn-do-bordered-small"


    - else 

      .row
        .col-md-8.mx-auto.text-center
          %h4 Nie ma żadnych podań oczekujących!

    -# if there are any declined alliance requests
    - if @requestsdeclined.any?

      .clan-approval-pending
        .row
          .col-md-4.mx-auto.text-center
            %h2 Podania odrzucone.

      .row

        - @requestsdeclined.each do |request|
          .col-md-4.request-col

            %h1= link_to request.user.name, request.user

            %h2 
              Nick gracza:
              %span= request.nickname

            %h2 
              Nick lidera:
              %span= request.lider_nickname

            %h2 
              Nazwa klanu:
              %span= request.clan_name

            %p

              = link_to truncate('Zobacz'), request, class: "btn btn-do-bordered-small"
              - if can? :destroy, @request
                |
                = link_to "Usuń", request, method: :delete, data: { confirm: "Jesteś pewny, że chcesz to usunąć?" }, class: "btn btn-do-bordered-small"
    

    - else 

      .row
        .col-md-8.mx-auto.text-center
          %h4 Nie ma żadnych odrzuconych podań!
