b
- provide(:title, 'Lista podań') 
.page-wrapper
  .page-header
    = select_tag(:scope_name,
                 options_for_select([["#{t("all")}", 'all'], ["#{t("approved")}", 'approved'], ["#{t("pending")}", 'pending'], ["#{t("declined")}", 'declined']], {:selected => @scope_name.to_sym}),
                 { data: {remote: true }, class:'select-request'})
    #scope-title.p-5
      %h2 Wszystkie

  .request-index
    .row#request{class: 'w-100 m-0 p-5'}
      -@requests.each do |r|
        =render 'single_request', request: r
