

  <div class="col-md-6 mx-auto">
      <div class="alliancerequest_form">

<div class="alliancerequest_regulamin text-center">
          <h1>Zanim złożysz podanie zapoznaj się z regulaminem!</h1>
          <p>Składając podanie, akceptujesz regulamin sojuszu.</p>
          <span><%= link_to "Regulamin Sojuszu", sojusz_regulamin_path, class: "btn btn-do-bordered" %></span>
</div>

<h2>Stwórz podanie do sojuszu</h2>
<%= form_for(@alliancerequest) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :nickname, "Nick składajacego podanie"  %>
      <%= f.text_field :nickname, placeholder: "Twój Nick", class: 'form-control' %>

      <%= f.label :lider_nickname, "Nick założyciela klanu"  %>
      <%= f.text_field :lider_nickname, placeholder: "Nick Lidera Klanu", class: 'form-control' %>

      <%= f.label :clan_name, "Nazwa klanu"  %>
      <%= f.text_field :clan_name, placeholder: "Nazwa Klanu", class: 'form-control' %>

      <%= f.label :clan_tier, "Tier klanu"  %>
      <%= f.select(:clan_tier, Alliancerequest::CLANTIER, {selected: @alliancerequest.clan_tier, prompt: 'Wybierz tier'}, { :class => 'form-control' }) %>

      <%= f.label :clan_members, "Aktualna liczba członków klanu"  %>
      <%= f.text_field :clan_members, placeholder: "1-1000", :class => 'form-control'  %>

      <%= f.label :clan_about, "Krótki opis klanu"  %>
      <%= f.text_area :clan_about, id: "wysi", :class => 'form-control', placeholder: "Napisz coś o klanie. (Historia klanu, motywy do powstania klanu, motto klanowe, cele do osiągniecia.)" %>

<div class="checkboxes">
<div class="row">

<div class="col-md-6">
  <%= f.label :discord_check, "Discord", class: 'discord_check'  %>
  <%= f.check_box :discord_check %>
</div>

<div class="col-md-6">
  <%= f.label :rules_check, "Regulamin", class: 'rules_check'  %>
  <%= f.check_box :rules_check %>
</div>

      </div>
</div>




  <%= f.submit "Zapisz", class: "btn btn-do" %>
<% end %>

</div>
</div>

<script>
$('#wysi').froalaEditor({
    inlineMode: false,
    heightMin: '200px',
    placeholderText: 'Napisz coś o klanie. (Historia klanu, motywy do powstania klanu, motto klanowe, cele do osiągniecia.)'
  });
</script>