<!-- NOWA WERSJA -->

<div class="alliancerequest-index">

  <div class="container">

    <% if @alliancerequestsapproved.any? %>


          <div class="clan-approval-pending">
            <div class="row">
              <div class="col-md-4 mx-auto text-center">
                <h2>Podania zaakceptowane.</h2>
              </div>
            </div>
          </div>

      <div class="row">

        <% @alliancerequestsapproved.each do |alliancerequest| %>

          <div class="col-md-4 alliancerequest-col">

            <h1><%= link_to alliancerequest.user.name, alliancerequest.user %></h1>

            <h2>Nick gracza:
              <span><%= alliancerequest.nickname %></span></h2>
            <h2>Nick lidera:
              <span><%= alliancerequest.lider_nickname %></span></h2>
            <h2>Nazwa klanu:
              <span><%= alliancerequest.clan_name %></span></h2>

            <p>
              <%= link_to truncate('Zobacz'), alliancerequest, class: "btn btn-do-bordered-small" %>

              <% if current_user?(@user) || admin? %>
                |
                <%= link_to "Usuń", alliancerequest, method: :delete, data: { confirm: "Jesteś pewny, że chcesz to usunąć?" }, class: "btn btn-do-bordered-small" %>
              <% end %>
            </p>

          </div>

        <% end %>

      </div>

    <% else %>

      <div class="row">
        <div class="col-md-8 mx-auto text-center">
          <h4>
            Nie ma żadnych podań przyjętych do sojuszu!</h4>
        </div>
      </div>

    <% end %>



    <% if @alliancerequestspending.any? %>

    <div class="clan-approval-pending">
      <div class="row">
        <div class="col-md-4 mx-auto text-center">
          <h2>Podania oczekujące.</h2>
        </div>
      </div>
    </div>

<div class="row">



          <% @alliancerequestspending.each do |alliancerequest| %>

            <div class="col-md-4 alliancerequest-col">

              <h1><%= link_to alliancerequest.user.name, alliancerequest.user %></h1>

              <h2>Nick gracza:
                <span><%= alliancerequest.nickname %></span></h2>
              <h2>Nick lidera:
                <span><%= alliancerequest.lider_nickname %></span></h2>
              <h2>Nazwa klanu:
                <span><%= alliancerequest.clan_name %></span></h2>

              <p>
                <%= link_to truncate('Zobacz'), alliancerequest, class: "btn btn-do-bordered-small" %>

                <% if current_user?(@user) || admin? %>
                  |
                  <%= link_to "Usuń", alliancerequest, method: :delete, data: { confirm: "Jesteś pewny, że chcesz to usunąć?" }, class: "btn btn-do-bordered-small" %>
                <% end %>
              </p>

            </div>

          <% end %>

          </div>


            <% else %>

            <div class="row">
              <div class="col-md-8 mx-auto text-center">
                <h4>
                  Nie ma żadnych podań oczekujących!</h4>
              </div>
            </div>


    <% end %>


        <% if @alliancerequestsdeclined.any? %>

        <div class="clan-approval-pending">
          <div class="row">
            <div class="col-md-4 mx-auto text-center">
              <h2>Podania odrzucone.</h2>
            </div>
          </div>
        </div>

    <div class="row">

            <% @alliancerequestsdeclined.each do |alliancerequest| %>
            <div class="col-md-4 alliancerequest-col">

              <h1><%= link_to alliancerequest.user.name, alliancerequest.user %></h1>

              <h2>Nick gracza:
                <span><%= alliancerequest.nickname %></span></h2>
              <h2>Nick lidera:
                <span><%= alliancerequest.lider_nickname %></span></h2>
              <h2>Nazwa klanu:
                <span><%= alliancerequest.clan_name %></span></h2>

              <p>
                <%= link_to truncate('Zobacz'), alliancerequest, class: "btn btn-do-bordered-small" %>

                <% if current_user?(@user) || admin? %>
                  |
                  <%= link_to "Usuń", alliancerequest, method: :delete, data: { confirm: "Jesteś pewny, że chcesz to usunąć?" }, class: "btn btn-do-bordered-small" %>
                <% end %>
              </p>

            </div>
          <% end %>

</div>



        <% else %>


            <div class="row">
              <div class="col-md-8 mx-auto text-center">
                <h4>
                  Nie ma żadnych odrzuconych podań!</h4>
              </div>
            </div>



      <% end %>

    </div>
    </div>
