- provide(:title, "Logowanie")



.login-page-wrapper
  .login-page
    .row
      .login-page-cover
        .login-page-content
          .container.form-container
            .user-actions
              = active_link_to "Logowanie",new_user_session_path, class: "btn btn-do-ghostie-dark"
              = active_link_to "Rejestracja",new_user_registration_path, class: "btn btn-do-ghostie-dark"
            .img
              =image_tag(asset_pack_path('media/images/veil-white.png'))
            .row.justify-content-md-center
              .form-group.col-md-6
                = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
                  .input-group.vitruvian-input
                    = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'E-mail'
                    %i.fas.fa-at
                  .input-group.vitruvian-input
                    = f.password_field :password, autocomplete: "current-password", class: 'form-control', placeholder: 'Hasło'
                    %i.fas.fa-lock


                  - if devise_mapping.rememberable?
                    .input_wrapper
                      =f.check_box :remember_me, id: 'remember-check', class:"switch_4"
                      %span{id: 'remember_me', class:'ml-3'} Zapamiętaj mnie



                  .actions
                    = f.submit "Zaloguj", class: 'btn btn-do-ghostie-dark'
                = render "devise/shared/links"
