= provide(:title, "Streamer #{@user.first.display_name}")

.page-wrapper

  -@user.each do |i|
    .streamer-box
      %div{class:'mx-auto', id: "twitch-embed", data: i.login.to_json}

      .streamer-info.text-center.mb
        %h2=i.display_name
        =image_tag i.profile_image_url, class:"twitch-user-image m-2"
        %p #{i.description}
        -if @client.get_games({id: @stream.map(&:game_id)}).data.first.try(:name)
          %p Aktualnie gra w #{@client.get_games({id: @stream.map(&:game_id)}).data.first.try(:name)}

        .numbers.text-center.d-flex.justify-content-center
          %p{'data-toggle':"tooltip", 'data-placement':"bottom", title:"Suma wyświetleń", class:'m-2 views-count text-center'}
            %i.fas.fa-eye
            #{number_with_delimiter(i.view_count)}

          %p{'data-toggle':"tooltip", 'data-placement':"bottom", title:"Aktualnie oglądających", class:'m-2 views-count text-center'}
            %i.fas.fa-user
            %span{id:'twitch-views'}

