
.side-wrapper
  %nav#sidebar.sidebar-wrapper
    .sidebar-content
      .sidebar-brand
        %a Dusze Orokinu
        #close-sidebar
          %i.fas.fa-times
      -if user_signed_in?
        .sidebar-header
          .user-pic
            =image_tag user_avatar(current_user), class: 'img-responsive img-rounded'

          .user-info
            %span.user-name
              %strong=current_user.name

            %span.user-role
              #{"Administrator" if current_user.has_role?(:admin)}
            %span.user-status
              %i.fa.fa-circle
              %span Online


        -#<!-- sidebar-search  -->
        .sidebar-menu
          %ul
            %li.header-menu
              %span Główne
            -if current_user.has_role?(:admin)
              %li.sidebar-dropdown
                %a
                  %i.fas.fa-unlock-alt
                  %span Admin
                  %span.badge.badge-pill.badge-primary= new_requests_since_last_login(current_user) if new_requests_since_last_login(current_user) > 0

                .sidebar-submenu
                  %ul
                    %li
                      = active_link_to "Admin Panel",rails_admin_path, class: "nav-link"
                    %li
                      = link_to(requests_path, class: "nav-link") do
                        Podania do sojuszu
                        %span.badge.badge-pill.badge-primary= new_requests_since_last_login(current_user) if new_requests_since_last_login(current_user) > 0
                    %li
                      = active_link_to "Lista klanów",clans_path, class: "nav-link"


            %li.sidebar-dropdown
              %a
                %i.fa.fa-users
                %span Sojusz

              .sidebar-submenu
                %ul
                  %li
                    = active_link_to "Podanie do sojuszu", '/request', class:  "nav-link"
                  %li
                    = active_link_to "Użytkownicy",users_path, class:  "nav-link"



            %li.sidebar-dropdown
              %a
                %i.fas.fa-gem
                %span Klan

              .sidebar-submenu
                %ul
                  %li
                    = active_link_to "Klan",pclan_path, class:  "nav-link"



            %li.sidebar-dropdown
              %a
                %i.fa.fa-book-open
                %span Poradniki

              .sidebar-submenu
                %ul
                  %li
                    %a{href:"#"} Pie chart
                  %li
                    %a{href:"#"} Line chart
                  %li
                    %a{href:"#"} Line chart
                  %li
                    %a{href:"#"} Line chart

            %li.sidebar-dropdown
              %a
                %i.fas.fa-cubes
                %span Buildy

              .sidebar-submenu
                %ul
                  %li
                    %a{href:"#"} Pie chart
                  %li
                    %a{href:"#"} Line chart
                  %li
                    %a{href:"#"} Line chart
                  %li
                    %a{href:"#"} Line chart


            %li.header-menu
              %span Dodatkowe
            %li
              %a
                %i.fa.fa-book
                %span Coming Soon
                %span.badge.badge-pill.badge-warning Nowe

            %li
              %a{href:"#"}
                %i.fa.fa-book
                %span Coming Soon
                %span.badge.badge-pill.badge-warning Nowe

            %li
              %a{href:"#"}
                %i.fa.fa-book
                %span Coming Soon
                %span.badge.badge-pill.badge-warning Nowe


        %div.sidebar-footer
          = link_to(user_path(current_user)) do
            %i.fa.fa-users

          = link_to(conversations_path) do
            %i.fa.fa-envelope
            %span.badge.badge-pill.badge-warning.notification 5

          = link_to(edit_user_registration_path) do
            %i.fa.fa-cogs

          = link_to(destroy_user_session_path, method: :delete) do
            %i.fas.fa-sign-out-alt


      -else
        %ul
          %li
            = active_link_to "Zaloguj się",new_user_session_path, class: "nav-link"


.overlay