
.side-wrapper
  %nav#sidebar.sidebar-wrapper
    .sidebar-content
      -# Application name
      .sidebar-brand
        %a Dusze Orokinu
        -# Sidebar toggle
        #close-sidebar
          %i.fas.fa-times

      -if user_signed_in?
        -# User info
        .sidebar-header
          =render 'layouts/sidebar_user'

        -# Navigation menu
        .sidebar-menu
          =render 'layouts/sidebar_navigation'

        -# Sidebar navigation
        .sidebar-footer
          = link_to(user_path(current_user), 'data-toggle':"tooltip", 'data-placement':"top", title:"Mój profil") do
            %i.fas.fa-user

          = link_to(conversations_path, 'data-toggle':"tooltip", 'data-placement':"top", title:"Poczta") do
            %i.fa.fa-envelope
            %span.badge.badge-pill.badge-warning.notification=unread_messages_count if unread_messages_count > 0

          = link_to(edit_user_registration_path, 'data-toggle':"tooltip", 'data-placement':"top", title:"Edytuj profil") do
            %i.fa.fa-cogs

          = link_to(destroy_user_session_path, 'data-toggle':"tooltip", 'data-placement':"top", title:"Wyloguj", 'data-tooltip-custom-classes':"tooltip-vitruvian", method: :delete) do
            %i.fas.fa-sign-out-alt


      -else
        -#Guest user menu - not visible normally for guest users, but if someone decides to have fun with javascript to reveal sidebar, sees that.
        .sidebar-menu
          %ul
            %li.header-menu
              %span Witaj na stronie Dusz Orokinu!
              = active_link_to "Logowanie",new_user_session_path, class: "nav-link"

.overlay