!!!

%html
  %head
    %title
      = yield(:title) 
      | Dusze Orokinu

    = csrf_meta_tags
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload', 'data-turbolinks-eval': 'false'
    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'stylesheets'
    = favicon_link_tag asset_path('favicon-32x32.png')
    = tinymce_assets
    -#  Fonts 
    %link{href: "https://fonts.googleapis.com/css?family=Raleway:100,300,600", rel: "stylesheet", type: "text/css"}
    %link{href: "https://fonts.googleapis.com/css?family=Marcellus+SC", rel: "stylesheet"}
    %link{href: "https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900&amp;subset=latin-ext", rel: "stylesheet"}

  %body{class:"#{controller.controller_name}-body"}
    = render "layouts/navbar"
    =render "layouts/sidebar"
    - flash.each do |message_type, message| 
      = content_tag(:div, message, class: "alert slide-in-top alert-#{message_type}")


    = yield

