!!!

%html
  %head
    %title
      = yield(:title)
      | Dusze Orokinu

    = csrf_meta_tags
    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'stylesheets'
    = favicon_link_tag asset_pack_path('media/images/favicon-32x32.png')

    -#meta data
    %meta{property:"og:url"  ,          content:"#{request.original_url}"}
    %meta{property:"og:type"  ,             content:"content"}
    %meta{property:"og:title"  ,            content:"#{yield(:title)}"}
    %meta{property:"og:description" ,       content:"Polski sojusz Warframe 2019, zrzeszamy Polskie klany gry Warframe."}
    %meta{property:"og:image"     ,        content:"https://cdn.discordapp.com/attachments/468191500094799904/553712067018883082/duszkilogo3.png"}

    -#  Fonts
    %link{href: "https://fonts.googleapis.com/css?family=Raleway:100,300,600", rel: "stylesheet", type: "text/css"}
    %link{href: "https://fonts.googleapis.com/css?family=Marcellus+SC", rel: "stylesheet"}
    %link{href: "https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900&amp;subset=latin-ext", rel: "stylesheet"}

  %body.devise-body
    = render "layouts/navbar"
    =render "layouts/sidebar"
    - flash.each do |message_type, message|
      .div{role:"alert", 'aria-live':"assertive", 'aria-atomic':"true", 'data-autohide':"false", class: "toast slide-in-top alert-#{message_type}", id:"toast"}
        .toast-header
          %strong.mr-auto Dusze Orokinu
          %button.ml-2.mb-1.close{type:"button",  'data-dismiss':"toast", 'aria-label':"Close", id:'close-alert', onclick:"closeToast()"}
            %span{'aria-hidden':"true"}
              %i.fas.fa-times
        .toast-body
          =message


    = yield

    = render 'cookies_eu/consent_banner', link: '/ciasteczka', target: '_blank'

